.wrap {
    background: white;
    max-width: 612px;
    margin: 50px auto;
    padding-right: 10px;
    padding-left: 10px;
}

body {
    background: white;

}

p.bio {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 1.5em;
    font-weight: 300;
}

.hr {
    border: 0;
    height: 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-top-color: #a6a6a6;
    border-bottom-color: #a6a6a6;
    margin: auto;
    width: auto;
}

.footer {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

a {
    background: #ffff;
    text-align: center;
    line-height: 80px;
    font-size: 20px;
    margin: 0px 10px;
    padding: 3px;
    border-radius: 4px;
    position: relative;
    transition: .5s;
}


.footer a:hover {
    background-color: gray;
    color:white;
    
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

.links {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    padding: 0 5px;
}

span {
    font-weight: bold;
}