.wrap {
    background: white;
    max-width: 612px;
    margin: 50px auto;
    padding-right: 10px;
    padding-left: 10px;
}

body {
    background: white;

}

p.bio {
    font-family: 'Aleo', sans-serif;
    text-align: center;
    font-size: 1.5em;
}

.hr {
    border: 0;
    height: 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-top-color: #a6a6a6;
    border-bottom-color: #a6a6a6;
    margin: auto;
    width: auto;

}

.footer a:hover {
    background-color: #a6a6a6;
    color:white;
}

a {
    padding: 5px;
}

a:link {
    color: black;
}

a:visited {
    color: #0086b3;
}

.links {
    font-family: 'Aleo', sans-serif;
    padding: 0 5px;
    /* width: 50%;
    margin: auto; */
}

.footer {
    font-family: 'Aleo', serif;
    text-align: center;
}

/* default version */
@font-face {
    font-family: 'Aleo';
    src: url('fonts/Aleo-Font/Desktop-OTF/Aleo-Light.otf')format('opentype');
}

/* bold version */
@font-face {
    font-family: 'Aleo';
    src: url('fonts/Aleo-Font/Desktop-OTF/Aleo-Regular.otf')format('opentype');
    font-weight: bold;
}

span {
    font-weight: bold;
}